body {
    font-family: Roboto !important;
}
header {
    background-color: #212329;
    height: 160px;
}

.header_title {
    color: #FF9C00;
    font-size: 30px;
    font-weight: 300;
}

.header_menu {
    margin: 50px 0;
}

hr {
    height:2px !important; 
    width:30px; 
    border-width:0; 
    color:#FF9C00; 
    background-color:#FF9C00;
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}

content {
    background-color: #E5E5E5;
}

.content_img {
    width: 100%;
}

.div-content-orange {
    background-color: #FF9C00;
}

.div-content-title {
    font-size: 40px;
    line-height: 47px;
    padding: 50px 15px 15px 15px;
}

.content-text {
    font-size: 30px;
    line-height: 40px;
    padding: 15px
}

.text-link {
    font-size: 20px;
    line-height: 26px;
    color: #C61B09;
    padding: 15px;
    font-family: Josefin Sans;
}

.content_img_box {
    margin: 15px;
    padding-top: 50px;
}

.div-content {
    margin: 15px;
}

.text-title {
    font-size: 28px;
    line-height: 38px;
    padding: 32px 0;
}

.text-content {
    margin: 3px;
    font-size: 16px;
    line-height: 24px;
}

.news-content {
    padding: 40px 0;
}

.news {
    border: 1px solid #C61B09;
    font-size: 16px;
    line-height: 24px;
    color: #C61B09;
    padding: 7px;
    margin-bottom: 20px;
}

.rrss-title {
    font-size: 34px;
    line-height: 38px;
    padding: 60px 15px 15px 15px;
}

.rrss-content {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 15px 0 15px;
    padding-bottom: 60px;
}

.rrss-icons {
    background-color: #212329;
    height: 112px;
}

.rrss-content_img {
    width: auto;
    height: 30px;
}

.about-us {
    padding: 15px;
}

.about-title {
    font-size: 34px;
    line-height: 38px;
    padding-top: 60px;
}

.about-content {
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
}

.about-spectators {
    width: 80%;
    position: relative;
    top: 35px;
}

.about-yellow-car {
    width: 90%;
}

.about-car {
    width: 100%;
    position: relative;
    bottom: 50px;
}

.about-video {
    width: 100%;
}

.play-button {
    background-color: #FF9C00;
    width: 82px;
    height: 82px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
    z-index: 1;
    left: 74%;
}

.about-button {
    justify-content: center;
    align-items: center;
}

.video-content {
    background-color: #FF9C00;
    width: 90%;
    margin: 15px;
    position: relative;
    bottom: 105px;
    padding: 10px 15px;
}

.title-video {
    font-size: 34px;
    line-height: 39px;
    margin: 20px;
}

.link-video {
    margin: 20px;
    color: #C61B09;
    font-family: Josefin Sans;
    font-weight: bold;
}

.carrousel-img {
    width: 225px;
}

.carrousel-list {
    padding: 20px;
}

.carrousel-content {
    font-family: Theinhardt;
    width: 225px;
    background-color: #FF9C00;
    padding: 20px;
}

.carrousel-title {
    font-size: 20px;
    color: #110C16;
}

.carrousel-information {
    font-size: 14px;
    color: #fff;
}

.link-button {
    font-family: Theinhardt;
    font-size: 16px;
    color: #fff;
    width: 90%;
    background-color: #FF9C00;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    background-color: #212329;
    color: #FF9C00;
}

.footer-title {
    font-size: 40px;
    line-height: 46px;
    margin: 20px 0;
}

.footer-rrss img {
    width: auto;
    height: 40px;
}

.link {
    margin: 30px 0;
}