header {
    background-color: #212329;
    height: 160px;
}

.header_title {
    color: #FF9C00;
    font-family: Roboto italic;
    font-size: 30px;
}

.header_menu {
    margin: 50px 0;
}

hr {
    height:2px !important; 
    width:30px; 
    border-width:0; 
    color:#FF9C00; 
    background-color:#FF9C00;
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}