body {
    font-family: Roboto !important;
}
header {
    background-color: #212329;
    height: 160px;
}

.header_title {
    color: #FF9C00;
    font-size: 30px;
    font-weight: 300;
}

.header_menu {
    margin: 50px 0;
}

hr {
    height:2px !important; 
    width:30px; 
    border-width:0; 
    color:#FF9C00; 
    background-color:#FF9C00;
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}

content {
    background-color: #E5E5E5;
}

.content_img {
    width: 100%;
}

.div-content-orange {
    background-color: #FF9C00;
}

.div-content-title {
    font-size: 40px;
    line-height: 47px;
    padding: 50px 15px 15px 15px;
}

.content-text {
    font-size: 30px;
    line-height: 40px;
    padding: 15px
}

.text-link {
    font-size: 20px;
    line-height: 26px;
    color: #C61B09;
    padding: 15px;
    font-family: Josefin Sans;
}

.content_img_box {
    margin: 15px;
    padding-top: 50px;
}

.div-content {
    margin: 15px;
}

.text-title {
    font-size: 28px;
    line-height: 38px;
    padding: 32px 0;
}

.text-content {
    margin: 3px;
    font-size: 16px;
    line-height: 24px;
}

.news-content {
    padding: 40px 0;
}

.news {
    border: 1px solid #C61B09;
    font-size: 16px;
    line-height: 24px;
    color: #C61B09;
    padding: 7px;
    margin-bottom: 20px;
}

.rrss-title {
    font-size: 34px;
    line-height: 38px;
    padding: 60px 15px 15px 15px;
}

.rrss-content {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 15px 0 15px;
    padding-bottom: 60px;
}

.rrss-icons {
    background-color: #212329;
    height: 112px;
}

.rrss-content_img {
    width: auto;
    height: 30px;
}

.about-us {
    padding: 15px;
}

.about-title {
    font-size: 34px;
    line-height: 38px;
    padding-top: 60px;
}

.about-content {
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
}

.about-spectators {
    width: 80%;
    position: relative;
    top: 35px;
}

.about-yellow-car {
    width: 90%;
}